{% load static %}

	<!-- JS Files -->
<!--	<script src="{% static  'js/vendor/jquery-5.2.1.min.js' %}"></script>-->
<!--	<script src="{% static  'js/popper.min.js' %}"></script>-->
<!--	<script src="{% static  'js/bootstrap.min.js' %}"></script>-->
<!--	<script src="{% static  'js/plugins.js' %}"></script>-->
<!--	<script src="{% static  'js/active.js' %}"></script>-->

	<script src="{% static  'js/jquery-5.2.1.min.js' %}"></script>
<!--	<script src="{% static  'js/jquery-ui.min.js' %}"></script>-->
    <script src="{% static  'js/bootstrap.min.js' %}"></script>
    <script src="{% static  'js/popper.min.js' %}"></script>
    <script src="{% static  'js/jquery.validate.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.js"></script>
    <script src="{% static  'js/jquery-ui.js' %}"></script>
    <script src="{% static  'js/alertify.min.js' %}"></script>
<!--<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>-->
    <script src="{% static  'js/jquery.validate.min.js' %}"></script>
    <script src="{% static  'js/jquery.session.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static  'sweetalert/js/sweetalert.min.js' %}"></script>
    <script src="{% static  'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static  'js/bootstrap-select.js' %}"></script>
    <script src="{% static  'js/inewsticker.js' %}"></script>
    <script src="{% static  'js/bootsnav.js' %}"></script>
    <script src="{% static  'js/images-loded.min.js' %}"></script>
    <script src="{% static  'js/isotope.min.js' %}"></script>
    <script src="{% static  'js/owl.carousel.min.js' %}"></script>
    <script src="{% static  'js/baguetteBox.min.js' %}"></script>
    <script src="{% static  'js/form-validator.min.js' %}"></script>
    <script src="{% static  'js/contact-form-script.js' %}"></script>
    <script src="{% static  'js/custom.js' %}"></script>
